
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.hidden{
    display: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

a:hover{
    text-decoration: none;
}

*.btn:focus{
    outline: none;
}
.avatar {
    position: relative;
    border-radius: 50%;
    margin: auto;
}

.container {
    text-align: center;
}
input#answerBox {
    position: relative;
    height: 90%;
    margin-left: 2%;
    width: 70%;
}
button#postAnswer {
    position: absolute;
    right: 5%;
}

body {
    font-size: calc(1vw + 0.7vh);
}
div.card {
    margin: 2%;
}



.card {
    padding: 2%;
}

div#answersContainer{
    height: calc(18vh + 15vw);
    overflow-y: scroll;
    &:nth-child(2) {
        background-color: #1d643b;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.auth-screen {
    position: relative;
    top: calc(2vh + 2vw);
    margin: auto !important;
    & *{
        padding-bottom: 1%;
    }
}

p.alert-danger:empty {
    display: none;
}

h1.modal-header {
    padding-bottom: 2%;
}

.ask-to-login{
    margin: 2%;
}

.upvote-container {
    position: absolute;
    left: 0;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

img.query-image {
    position: relative;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    object-fit: contain;
}

pre.CodeMirror-line {
    text-align: left !important;

    & > span {
        margin-left: calc(1vh + 4%);
    }
}

#editor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;

}

header.navbar{
    border-bottom: 1px solid #1b4b72;
    background-image: linear-gradient(#0e7485, #0e8485);
    color: #fff;
    font-size: calc(1vw + 1vh);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    transition: height 0.5s, font-size 0.5s;

    .nav-contents {
        width: 80%;
    }
    a.site-name {
        font-size: 2em;
        padding: 0;
    }

    &.scrolled{
        height: 6vh;
        font-size: calc(0.5vw + 1vh);
    }
    .btn-group{
        height: 60%;
        flex-direction: row;
        .btn {
            position: relative;
            height: 100%;
            width: min-content;
            margin: auto 0 auto 10%;
            span {
                width: fit-content;
            }
            img.avatar {
                margin: auto 10%;
            }
            @media only screen and (max-width: 768px) {
                #name{
                    display: none;
                }
            }
        }
    }
}


main {
    position: relative;
    top: 15vh;
}


div.post-list {
    * {
        width: max-content;
    }
    .language-container {
        display: flex;
        a.language-name {
            border: 1px solid #761b18;
            color: #761b18;
            border-radius: 5px;
            width: fit-content;
            height: 4vh;
            margin: auto 10%;
            padding-right: 5%;
            padding-left: 5%;

            &:hover {
                background-color: #165B8C;
                color: #fff;
            }
        }
    }
    .date-time {
        color: #888;
        font-size: 0.8em;
    }

    .question {
        background-color: #eee;
        padding: 0.2%;
    }
}


div.ask {
    input.question-field{
        margin-bottom: 3%;
        width: 100%;
    }
    div#additionalOptions{
        width: 100%;
        margin: 0;
    }
    button#displayAdditionalOptions{
        right: 0;
        z-index: 10;
    }
    .collapsed{
        position: relative;
        text-align: center;
        z-index: 0;
    }
    input.submit{
        position: relative;
        display: inline-block;
    }
    .image-portion{
        background-color: rgba(10,0,100,0.1);
        margin-bottom: 1%;
        padding: 2%;
        border-radius: 5px;
    }
    .code-portion{
        background-color: rgba(100,0,100,0.2);
        margin-bottom: 1%;
        padding: 2%;
        border-radius: 5px;
    }
}
